[builderList]
modelClass = "Murad\Settings\Models\Settings"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = 1
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<footer class="footer">
            <div class="container">
                {% for record in builderList.records %}
                    <div class="footer__logo"><a href="./index.html">{{ record.logo }}</a></div>
                {% endfor %}
                <div class="footer__wrapper">
                    <div class="footer__socials">
                        <div class="footer__social">
                            <img
                                src="{{'assets/icons/footer/facebook.png' | theme }}"
                                alt=""
                            />
                        </div>
                        <div class="footer__social">
                            <img
                                src="{{'assets/icons/footer/instagram.png' | theme }}"
                                alt=""
                            />
                        </div>
                        <div class="footer__social">
                            <img
                                src="{{'assets/icons/footer/twitter.png' | theme }}"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="footer__mini">
                        <a href="">Privacy Policy</a>
                        <a href="">Legal terms </a>
                    </div>
                </div>
            </div>
            <hr />
            {% for record in builderList.records %}
              <div class="footer__copirate">
                {{ record.copywrite }}
            </div>
            {% endfor %}

        </footer>
