[builderList]
modelClass = "Murad\Settings\Models\Settings"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = 1
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
[sitePicker]

==

<header class="header">

    <div class="menu">
        <i class="fa fa-window-close" aria-hidden="true"></i>
        <ul>

            <li><a href="./aboutUs.html">About us</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="./products.html">Products</a></li>
            <li><a href="./ourteams.html">Our team</a></li>
            <li><a href="./contact.html">Contact us</a></li>
        </ul>
    </div>
    <div class="container">

        <div class="header__top">
            <div class="header__top__wrapper">
                <div class="header__top__tel">
                    <span>
                        <img
                            src="{{'assets/icons/navbar/carbon_phone-filled.png' | theme }}"
                            alt=""
                        />
                    </span>
                     {% for record in builderList.records %}
                    <span><a href=""> {{ record.phone }}</a></span>
                    {% endfor %}
                </div>
                <div class="header__top__logo">
                    {% for record in builderList.records %}
                    <a href="./index.html">{{record.logo}}</a>
                    {% endfor %}
                </div>
                <div class="header__top__lang">
                    <span>
                        <img
                            src="{{'assets/icons/navbar/icon-park-outline_earth.png' | theme }}"
                            alt=""
                        />
                    </span>
                    <div style="display: flex; column-gap: 5px">
                        {% for site in sitePicker.sites %}
                            <a style=" padding: 3px;background-color: white;color: black; font-weight: bold;" href="{{ site.url }}">{{ site.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="header__hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar__wrapper">
                <ul>
                    <li><a href="./aboutUs.html">About us</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./products.html">Products</a></li>
                    <li><a href="./ourteams.html">Our team</a></li>
                    <li><a href="./contact.html">Contact us</a></li>
                </ul>
            </div>
        </nav>
        {% if this.page.title == 'home page' %}

        <div class="header__body">
            <div class="header__body__wrapper">

                <h1 class="header__body__title">
                Awaken Your<br>Inner Chef
                </h1>
                <div class="header__body__footer">
                    <a href="" class="header__body__footer__more custom__button"
                        >Learn more</a
                    >
                    <a
                        href=""
                        class="header__body__footer__videolink custom__links"
                        >Watch the video</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="header__img">
        <img
            src="{{ 'assets/images/header/Group 1 (2).png' | theme }}"
            alt=""
        />
    </div>
    {% endif %}
</header>
