description = "default"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="{{ 'assets/styles/main.css'|theme }}" />

        {% styles %}
        <title>{{ this.page.title }}</title>
    </head>
    <style>
        {% if this.page.title == 'home page' %}
            .header {
                background: url('{{ 'assets/images/header/Frame 1.png' | theme }}');
            }
        {% else %}
            .header {
                height: max-content !important;
            }
        {% endif %}
    </style>


    <body>
        <div class="up">
            <img src="{{'assets/icons/footer/up.png' | theme }}" alt="" />
        </div>

        <header class="header">
            <div class="menu">
                <i class="fa fa-window-close" aria-hidden="true"></i>
                <ul>
                    <li><a href="./aboutUs.html">About us</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./products.html">Products</a></li>
                    <li><a href="./ourteams.html">Our team</a></li>
                    <li><a href="./contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="header__top">
                    <div class="header__top__wrapper">
                        <div class="header__top__tel">
                            <span>
                                <img
                                    src="{{'assets/icons/navbar/carbon_phone-filled.png' | theme }}"
                                    alt=""
                                />
                            </span>
                            <span><a href="">+994 50 000 00 00</a></span>
                        </div>
                        <div class="header__top__logo">
                            <a href="./index.html">LOGO</a>
                        </div>
                        <div class="header__top__lang">
                            <span>
                                <img
                                    src="{{'assets/icons/navbar/icon-park-outline_earth.png' | theme }}"
                                    alt=""
                                />
                            </span>
                            <span>EN</span>
                        </div>
                        <div class="header__hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <nav class="navbar">
                    <div class="navbar__wrapper">
                        <ul>
                            <li><a href="./aboutUs.html">About us</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li><a href="./products.html">Products</a></li>
                            <li><a href="./ourteams.html">Our team</a></li>
                            <li><a href="./contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </nav>
                {% if this.page.title == 'home page' %}

                <div class="header__body">
                    <div class="header__body__wrapper">
                        <h1 class="header__body__title">
                            Awaken Your <br />
                            <span>Inner Chef</span>
                        </h1>
                        <div class="header__body__footer">
                            <a
                                href=""
                                class="header__body__footer__more custom__button"
                                >Learn more</a
                            >
                            <a
                                href=""
                                class="header__body__footer__videolink custom__links"
                                >Watch the video</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__img">
                <img
                    src="{{ 'assets/images/header/Group 1 (2).png' | theme }}"
                    alt=""
                />
            </div>
            {% endif %}
        </header>
        {% page %}

        <footer class="footer">
            <div class="container">
                <div class="footer__logo"><a href="./index.html">LOGO</a></div>
                <div class="footer__wrapper">
                    <div class="footer__socials">
                        <div class="footer__social">
                            <img
                                src="{{'assets/icons/footer/facebook.png' | theme }}"
                                alt=""
                            />
                        </div>
                        <div class="footer__social">
                            <img
                                src="{{'assets/icons/footer/instagram.png' | theme }}"
                                alt=""
                            />
                        </div>
                        <div class="footer__social">
                            <img
                                src="{{'assets/icons/footer/twitter.png' | theme }}"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="footer__mini">
                        <a href="">Privacy Policy</a>
                        <a href="">Legal terms </a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="footer__copirate">
                ©2022 All Right Reserved. Developed by Webcoder
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <script src="{{'assets/script/slider.js'| theme}}"></script>
        <script src="{{'assets/script/script.js'| theme}}"></script>
        <script>
            if (window.innerWidth < 600) {
                document.querySelector(".header__img img").src =
                    "{{'assets/images/header/d0d79678bde22f01166c8159970ffe83 1.png' | theme }}";
            }

            $(".team__slider").slick({
                infinite: true,
                slidesToShow: 3,
                centerMode: false,
                slidesToScroll: 1,

                prevArrow:
                    '<button type="button" class="slider__arrow team__arrow__prev"><i class="fa fa-angle-right"></i></button>',
                nextArrow:
                    '<button type="button" class="slider__arrow team__arrow__next"><i class="fa fa-angle-left"></i></button>',
                responsive: [
                    {
                        breakpoint: 1180,
                        settings: {
                            slidesToShow: 2,
                            arrows: false,
                        },
                    },
                    {
                        breakpoint: 560,
                        settings: {
                            slidesToShow: 1,
                            arrows: false,
                        },
                    },
                ],
            });
            $(".slider").slick({
                infinite: true,
                slidesToShow: 4,
                centerMode: false,
                slidesToScroll: 1,

                prevArrow:
                    '<button type="button" class="slider__arrow services__arrow__prev"><i class="fa fa-angle-right"></i></button>',
                nextArrow:
                    '<button type="button" class="slider__arrow services__arrow__next"><i class="fa fa-angle-left"></i></button>',
                responsive: [
                    {
                        breakpoint: 1180,
                        settings: {
                            slidesToShow: 3,
                            arrows: false,
                        },
                    },
                    {
                        breakpoint: 800,
                        settings: {
                            slidesToShow: 2,
                            arrows: false,
                        },
                    },
                    {
                        breakpoint: 500,
                        settings: {
                            slidesToShow: 1,
                            arrows: false,
                        },
                    },
                ],
            });
        </script>
        <script>
            if (window.innerWidth < 468) {
                document.querySelector(".whoAreWe__right img").src =
                    "./assets/images/aboutus/mini.png";
                document.querySelector(".whatWeDo__left img").src =
                    "./assets/images/aboutus/mini2.png";
            }
            historySlider(".history__slider__inner");
        </script>
        {% framework extras %} {% scripts %}
    </body>
</html>
